{% extends 'layout-admin.html' %}

{% load static %}

{% block statics%}
{% endblock statics%}

{% block content %}
<div class="flex justify-end mb-5">
    <button type="button" class="rounded bg-[#BA9256] text-white font-medium px-2 py-2" data-drawer-target="create-data"
        data-drawer-show="create-data" data-drawer-placement="right" aria-controls="create-data">Thêm mới</button>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 text-[#fff]">STT</th>
                <th scope="col" class="px-6 py-3">Ảnh</th>
                <th scope="col" class="px-6 py-3">Tiêu đề</th>
                <th scope="col" class="px-6 py-3">Tiêu đề ngắn</th>
                <th scope="col" class="px-6 py-3">Hành Động</th>
            </tr>
        </thead>
        <tbody>
            {% for about in abouts %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{forloop.counter}}</th>
                <td scope="row" class="px-6 py-4">
                    <img src="{{ about.image }}" alt="" srcset="" class="w-[50px] h-[50px]" />
                </td>
                <td scope="row" class="px-6 py-4">{{ about.title }}</td>
                <td scope="row" class="px-6 py-4">{{ about.short_title }}</td>
                <td class="px-6 py-4">
                    <div class="flex gap-5 items-center">
                        <svg class="h-5 w-5 text-black" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                            fill="none" stroke-linecap="round" stroke-linejoin="round" data-drawer-target="edit-data"
                            data-drawer-show="edit-data" data-drawer-placement="right" aria-controls="edit-data">
                            <path stroke="none" d="M0 0h24v24H0z" />
                            <path d="M9 7 h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
                            <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
                            <line x1="16" y1="5" x2="19" y2="8" />
                        </svg>
                        <button type="submit">
                            <svg class="h-5 w-5 text-black" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                                stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <line x1="4" y1="7" x2="20" y2="7" />
                                <line x1="10" y1="11" x2="10" y2="17" />
                                <line x1="14" y1="11" x2="14" y2="17" />
                                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                            </svg>
                        </button>
                        <svg onclick="getDetail({{about.id}}, 'get')" class="h-5 w-5 text-black" width="24" height="24"
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                            stroke-linecap="round" stroke-linejoin="round" data-drawer-target="view-data"
                            data-drawer-show="view-data" data-drawer-placement="right" aria-controls="view-data">
                            <path stroke="none" d="M0 0h24v24H0z" />
                            <circle cx="12" cy="12" r="2" />
                            <path d="M2 12l1.5 2a11 11 0 0 0 17 0l1.5 -2" />
                            <path d="M2 12l1.5 -2a11 11 0 0 1 17 0l1.5 2" />
                        </svg>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- view data -->
<div id="view-data"
    class="fixed w-[500px] top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white dark:bg-gray-800"
    tabindex="-1" aria-labelledby="drawer-right-label">
    <button type="button" data-drawer-hide="view-data" aria-controls="view-data"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 right-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Close menu</span>
    </button>

    <div class="py-6">
        <div class="mb-5">
            <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ảnh</label>
            <img id="viewImage" src="" alt="" srcset="" class="mb-5 w-full h-[300px]">
        </div>
        <div class="mb-5">
            <label for="viewTitle" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tiêu đề</label>
            <input type="text" id="viewTitle"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                value="Tiêu đề" readonly>
        </div>
        <div class="mb-5">
            <label for="viewShortTitle" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tiêu đề
                ngắn</label>
            <input type="text" id="viewShortTitle"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                value="Tiêu đề ngắn" readonly>
        </div>
        <div class="mb-5">
            <label for="viewContent" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nội
                dung</label>
            <textarea id="viewContent" rows="4"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Write your thoughts here..." readonly></textarea>
        </div>
    </div>
</div>

<script>
    async function getDetail(id, action) {

        await fetch(`about/${id}`).then(async res => {

            const data = await res.json();
            console.log(data.data);
            if (action === "get") {
                document.querySelector("#viewImage").setAttribute("src", data.data.image)
                document.querySelector("#viewTitle").value = data.data.title
                document.querySelector("#viewShortTitle").value = data.data.short_title
                document.querySelector("#viewContent").value = data.data.content
            }
        })
    }
</script>
{% endblock content %}