<!-- templates/index.html -->

{% extends "layout.html" %}
{% load static %}
{% block statics %}
<link rel="stylesheet" href="{% static 'src/css/home.css' %}">

{% endblock statics %}

{% block content %}


<div id="animation-carousel" class="relative w-full mb-[150px]" data-carousel="static">
    <!-- Carousel wrapper -->
    <div class="relative h-[100vh] overflow-hidden">
        <!-- Item 1 -->
        {% for banner in banners %}
        <div class="hidden duration-700 ease-in-out h-full w-full" data-carousel-item>
            <img src="{{banner.image}}" alt="" srcset="" height="100%" width="100%" class="w-full h-full" />
        </div>
        {% endfor %}


    </div>
    <!-- Slider indicators -->

    <!-- Slider controls -->
    <button type="button"
        class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev>
        <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 1 1 5l4 4" />
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button"
        class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next>
        <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 9 4-4-4-4" />
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>

<!-- về chúng tôi -->
<div id="about" class="xl:w-[1200px] 2xl:w-[1440px] m-auto py-5 mb-[150px]">
    <div class="grid grid-cols-2">
        <img src="{% static 'images/'|add:abouts.image' %}" alt="" class="col-span-1 w-full">
        <div class="col-span-1 m-auto">
            <div class="mb-[50px]">
                <p class="text-[#BA9256] font-medium text-center">{{abouts.short_title}}</p>
                <h2 class="text-center text-[40px] font-normal">{{abouts.title}}</h2>
            </div>
            <p class="text-center text-[#666666] px-[100px]">{{abouts.content}} </p>
            <div class="text-center mt-[50px]">
                <a href=""
                    class="rounded-full border-2 border-[#BA9256] px-[20px] py-[5px] font-bold text-[#666666]">XEM
                    THÊM</a>
            </div>
        </div>
    </div>
</div>

<!-- lĩnh vực hoạt đông -->
<div id="activity" style="background-image: url('{% static 'images/'|add:activities.image %}')"
    class="m-auto xl:py-[60px] 2xl:py-[150px] xl:px-[12px] 2xl:px-[120px]">
    <div class="mb-[50px]">
        <p class="text-[#BA9256] text-center font-medium">{{activities.short_title}}</p>
        <h2 class="text-[40px] text-center text-white">{{activities.title}}</h2>
    </div>
    <div class="grid grid-cols-3">
        {% if itemActivity.count > 0 %}
        {% for itemActivity in itemActivity%}
        <div class="col-span-1 p-[32px] m-auto wrapper-activity">
            <div class="flex m-auto rounded-full w-[230px] h-[230px] bg-[#2E6D45] mb-[32px] wrapper-svg-activity">
                {{ itemActivity.svg|safe }}
            </div>
            <h3 class="xl:text-[25px] 2xl:text-[32px] text-center text-white min-h-[86px]">{{itemActivity.title}}</h3>
            <p class="pb-[32px] text-white line-clamp-5">{{itemActivity.short_content}}
            </p>
            <a href="" class="text-[#BA9256] see-more-activity">XEM THÊM</a>
        </div>
        {% endfor%}
        {% else %}
        <div class="col-span-1 p-[32px] m-auto  wrapper-activity">
            <div class="flex m-auto rounded-full w-[230px] h-[230px] bg-[#2E6D45] mb-[32px]">
                <svg class="m-auto" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"
                    fill="none">
                    <g clip-path="url(#clip0_3300_769)">
                        <path
                            d="M89.2378 97.0647H78.8485V28.6244C78.8485 25.6965 76.4665 23.3145 73.5385 23.3145H45.9949C45.1844 23.3145 44.5272 23.9715 44.5272 24.7822C44.5272 25.593 45.1844 26.25 45.9949 26.25H73.5387C74.8479 26.25 75.9133 27.3152 75.9133 28.6246V97.0647H61.1092V82.934H64.6502C65.1069 82.934 65.5375 82.7215 65.8153 82.359C66.093 81.9965 66.1862 81.5254 66.0676 81.0846C65.134 77.618 63.0512 74.4889 60.2028 72.2742C59.5629 71.7768 58.6409 71.892 58.1432 72.5321C57.6455 73.1719 57.761 74.0942 58.401 74.5916C60.2287 76.0127 61.6739 77.8899 62.5869 79.9987H37.4088C39.5447 75.0379 44.4758 71.7143 49.9992 71.7143C51.2274 71.7143 52.4446 71.8766 53.6166 72.1965C54.3979 72.4098 55.2055 71.949 55.419 71.167C55.6325 70.385 55.1715 69.5781 54.3895 69.3647C52.9653 68.976 51.4883 68.7789 49.9992 68.7789C42.4899 68.7789 35.8824 73.8393 33.9311 81.0848C33.8123 81.5256 33.9055 81.9967 34.1834 82.3592C34.4611 82.7217 34.8918 82.9342 35.3485 82.9342H38.8895V97.0649H24.0856V65.2721C24.0856 64.4615 23.4285 63.8043 22.6178 63.8043C21.807 63.8043 21.15 64.4615 21.15 65.2721V97.0647H10.7607C9.9502 97.0647 9.29297 97.7219 9.29297 98.5325C9.29297 99.343 9.95 100 10.7607 100H89.2378C90.0485 100 90.7055 99.343 90.7055 98.5325C90.7055 97.7217 90.0485 97.0647 89.2378 97.0647ZM41.8248 82.9338H58.1737V97.0645H41.8248V82.9338Z"
                            fill="white" />
                        <path
                            d="M41.5902 24.7822C41.5902 23.9717 40.9332 23.3145 40.1225 23.3145H26.4584C23.5305 23.3145 21.1484 25.6965 21.1484 28.6244V59.4012C21.1484 60.2118 21.8057 60.869 22.6162 60.869C23.4268 60.869 24.084 60.2118 24.084 59.4012V28.6244C24.084 27.315 25.1492 26.2498 26.4586 26.2498H40.1227C40.9332 26.25 41.5902 25.5928 41.5902 24.7822Z"
                            fill="white" />
                        <path
                            d="M42.9152 12.8701L42.6513 16.6348C42.583 17.61 43.0142 18.535 43.805 19.1096C44.296 19.4662 44.8724 19.6494 45.456 19.6494C45.8124 19.6494 46.1714 19.5811 46.5152 19.4422L50.0142 18.0279L53.513 19.4422C54.4193 19.8086 55.4328 19.6842 56.2232 19.1098C57.014 18.5354 57.4453 17.6102 57.3771 16.635L57.1132 12.8703L59.5396 9.97949C60.1681 9.23086 60.3629 8.22891 60.0609 7.29922C59.7588 6.36953 59.0123 5.67363 58.0638 5.43731L54.4015 4.52481L52.4023 1.32402C52.4023 1.32383 52.4021 1.32383 52.4021 1.32383C51.8841 0.494922 50.9914 0 50.014 0C49.0367 0 48.1441 0.494922 47.6261 1.32402L45.6267 4.52481L41.9648 5.43731C41.0163 5.67363 40.2699 6.36953 39.9677 7.29922C39.6656 8.22891 39.8605 9.23086 40.4888 9.97949L42.9152 12.8701ZM46.3833 7.36152C47.0957 7.18399 47.7019 6.74356 48.0906 6.12109L50.014 3.0418L51.9377 6.12129C52.3265 6.74375 52.933 7.18418 53.6449 7.36152L57.1677 8.23926L54.8339 11.0199C54.3617 11.582 54.13 12.2949 54.1816 13.0271L54.4355 16.649L51.0689 15.2883C50.7287 15.1508 50.3716 15.0822 50.0142 15.0822C49.6568 15.0822 49.2994 15.151 48.9589 15.2885L45.5929 16.649L45.8466 13.0273C45.898 12.2953 45.6664 11.5824 45.1945 11.0203L42.8603 8.23945L46.3833 7.36152Z"
                            fill="white" />
                        <path
                            d="M19.2345 13.8143L19.0204 16.8699C18.9575 17.769 19.355 18.6219 20.0843 19.1516C20.8132 19.6813 21.7474 19.7961 22.5833 19.4584L25.4232 18.3104L28.2632 19.4584C28.58 19.5865 28.911 19.6496 29.2398 19.6494C29.7776 19.6494 30.3095 19.4807 30.7622 19.1516C31.4913 18.6219 31.8892 17.7688 31.8261 16.8697L31.612 13.8141L33.5812 11.468C34.1607 10.7777 34.3403 9.85392 34.0618 8.99669C33.7833 8.13946 33.095 7.49767 32.2204 7.2797L29.2482 6.53907L27.6253 3.94122C27.1478 3.17697 26.3247 2.72052 25.4235 2.72052C24.5222 2.72052 23.6991 3.17697 23.2216 3.94142L21.5987 6.53927L18.6265 7.27989C17.7519 7.49786 17.0634 8.13985 16.7849 8.99708C16.5064 9.85431 16.6862 10.7781 17.2655 11.4682L19.2345 13.8143ZM22.4415 9.35431C23.098 9.19064 23.6567 8.78458 24.0153 8.21056L25.4232 5.95704L26.8308 8.21056C27.1892 8.78438 27.7482 9.19064 28.4052 9.35431L30.9835 9.99669L29.2751 12.032C28.8401 12.5504 28.6267 13.2076 28.6739 13.8824L28.8597 16.5332L26.3962 15.5375C25.7687 15.2838 25.0774 15.2838 24.4501 15.5375L21.9866 16.5334L22.1724 13.8826C22.2196 13.2074 22.0062 12.55 21.5712 12.032L19.863 9.99669L22.4415 9.35431Z"
                            fill="white" />
                        <path
                            d="M68.3836 13.8142L68.1696 16.8697C68.1063 17.7687 68.5039 18.6219 69.2328 19.1516C69.6856 19.4805 70.2174 19.6494 70.7555 19.6494C71.0842 19.6494 71.4152 19.5865 71.732 19.4584L74.5719 18.3103L77.4119 19.4584C78.2473 19.7959 79.1814 19.6814 79.9107 19.1516C80.6398 18.6219 81.0375 17.7687 80.9744 16.8697L80.7601 13.8142L82.7295 11.468C83.309 10.7777 83.4886 9.8539 83.2101 8.99667C82.9316 8.13945 82.2433 7.49765 81.3687 7.27968L78.3965 6.53906L76.7736 3.94101C76.2961 3.17675 75.473 2.72031 74.5719 2.72031C73.6707 2.72031 72.8475 3.17656 72.3699 3.94101C72.3699 3.94101 72.3699 3.94101 72.3697 3.94101L70.7469 6.53906L67.7748 7.27968C66.9002 7.49765 66.2119 8.13945 65.9334 8.99648C65.6547 9.8537 65.8346 10.7775 66.4141 11.468L68.3836 13.8142ZM71.5904 9.35448C72.2469 9.19081 72.8059 8.78456 73.1645 8.21073L74.5721 5.95702L75.9797 8.21073C76.3383 8.78456 76.8973 9.19081 77.5541 9.35448L80.1326 9.99687L78.4242 12.0322C77.9893 12.5506 77.7756 13.2078 77.823 13.8826L78.0088 16.5334L75.5455 15.5379C75.2316 15.4109 74.9022 15.3475 74.5723 15.3475C74.2428 15.3475 73.9131 15.4109 73.5994 15.5377L71.136 16.5334L71.3215 13.8826C71.369 13.2076 71.1555 12.5504 70.7203 12.032L69.0121 9.99667L71.5904 9.35448Z"
                            fill="white" />
                        <path
                            d="M37.2578 36.8055H33.8506C33.04 36.8055 32.3828 37.4627 32.3828 38.2733C32.3828 39.0838 33.0398 39.741 33.8506 39.741H37.2578C38.0684 39.741 38.7256 39.0838 38.7256 38.2733C38.7256 37.4625 38.0684 36.8055 37.2578 36.8055Z"
                            fill="white" />
                        <path
                            d="M46.8869 36.8055H43.4795C42.6689 36.8055 42.0117 37.4627 42.0117 38.2733C42.0117 39.0838 42.6688 39.741 43.4795 39.741H46.8869C47.6975 39.741 48.3547 39.0838 48.3547 38.2733C48.3547 37.4625 47.6977 36.8055 46.8869 36.8055Z"
                            fill="white" />
                        <path
                            d="M53.1084 39.7408H56.5156C57.3264 39.7408 57.9834 39.0836 57.9834 38.273C57.9834 37.4625 57.3264 36.8053 56.5156 36.8053H53.1084C52.2977 36.8053 51.6406 37.4625 51.6406 38.273C51.6406 39.0838 52.2977 39.7408 53.1084 39.7408Z"
                            fill="white" />
                        <path
                            d="M62.7412 39.7408H66.1484C66.9591 39.7408 67.6161 39.0836 67.6161 38.273C67.6161 37.4625 66.9591 36.8053 66.1484 36.8053H62.7412C61.9305 36.8053 61.2734 37.4625 61.2734 38.273C61.2734 39.0838 61.9305 39.7408 62.7412 39.7408Z"
                            fill="white" />
                        <path
                            d="M37.2578 44.8266H33.8506C33.04 44.8266 32.3828 45.4838 32.3828 46.2943C32.3828 47.1049 33.0398 47.7621 33.8506 47.7621H37.2578C38.0684 47.7621 38.7256 47.1049 38.7256 46.2943C38.7256 45.4836 38.0684 44.8266 37.2578 44.8266Z"
                            fill="white" />
                        <path
                            d="M46.8869 44.8266H43.4795C42.6689 44.8266 42.0117 45.4838 42.0117 46.2943C42.0117 47.1049 42.6688 47.7621 43.4795 47.7621H46.8869C47.6975 47.7621 48.3547 47.1049 48.3547 46.2943C48.3547 45.4836 47.6977 44.8266 46.8869 44.8266Z"
                            fill="white" />
                        <path
                            d="M53.1084 47.7619H56.5156C57.3264 47.7619 57.9834 47.1047 57.9834 46.2941C57.9834 45.4836 57.3264 44.8264 56.5156 44.8264H53.1084C52.2977 44.8264 51.6406 45.4836 51.6406 46.2941C51.6406 47.1049 52.2977 47.7619 53.1084 47.7619Z"
                            fill="white" />
                        <path
                            d="M62.7412 47.7619H66.1484C66.9591 47.7619 67.6161 47.1047 67.6161 46.2941C67.6161 45.4836 66.9591 44.8264 66.1484 44.8264H62.7412C61.9305 44.8264 61.2734 45.4836 61.2734 46.2941C61.2734 47.1049 61.9305 47.7619 62.7412 47.7619Z"
                            fill="white" />
                        <path
                            d="M37.2578 52.8477H33.8506C33.04 52.8477 32.3828 53.5049 32.3828 54.3154C32.3828 55.126 33.0398 55.7832 33.8506 55.7832H37.2578C38.0684 55.7832 38.7256 55.126 38.7256 54.3154C38.7256 53.5049 38.0684 52.8477 37.2578 52.8477Z"
                            fill="white" />
                        <path
                            d="M46.8869 52.8477H43.4795C42.6689 52.8477 42.0117 53.5049 42.0117 54.3154C42.0117 55.126 42.6688 55.7832 43.4795 55.7832H46.8869C47.6975 55.7832 48.3547 55.126 48.3547 54.3154C48.3547 53.5049 47.6977 52.8477 46.8869 52.8477Z"
                            fill="white" />
                        <path
                            d="M53.1084 55.7832H56.5156C57.3264 55.7832 57.9834 55.126 57.9834 54.3154C57.9834 53.5049 57.3264 52.8477 56.5156 52.8477H53.1084C52.2977 52.8477 51.6406 53.5049 51.6406 54.3154C51.6406 55.126 52.2977 55.7832 53.1084 55.7832Z"
                            fill="white" />
                        <path
                            d="M62.7412 55.7832H66.1484C66.9591 55.7832 67.6161 55.126 67.6161 54.3154C67.6161 53.5049 66.9591 52.8477 66.1484 52.8477H62.7412C61.9305 52.8477 61.2734 53.5049 61.2734 54.3154C61.2734 55.126 61.9305 55.7832 62.7412 55.7832Z"
                            fill="white" />
                        <path
                            d="M37.2578 60.869H33.8506C33.04 60.869 32.3828 61.5262 32.3828 62.3367C32.3828 63.1473 33.0398 63.8045 33.8506 63.8045H37.2578C38.0684 63.8045 38.7256 63.1473 38.7256 62.3367C38.7256 61.526 38.0684 60.869 37.2578 60.869Z"
                            fill="white" />
                        <path
                            d="M46.8869 60.869H43.4795C42.6689 60.869 42.0117 61.5262 42.0117 62.3367C42.0117 63.1473 42.6688 63.8045 43.4795 63.8045H46.8869C47.6975 63.8045 48.3547 63.1473 48.3547 62.3367C48.3547 61.526 47.6977 60.869 46.8869 60.869Z"
                            fill="white" />
                        <path
                            d="M53.1084 63.8043H56.5156C57.3264 63.8043 57.9834 63.1471 57.9834 62.3365C57.9834 61.526 57.3264 60.8687 56.5156 60.8687H53.1084C52.2977 60.8687 51.6406 61.526 51.6406 62.3365C51.6406 63.1473 52.2977 63.8043 53.1084 63.8043Z"
                            fill="white" />
                        <path
                            d="M62.7412 63.8043H66.1484C66.9591 63.8043 67.6161 63.1471 67.6161 62.3365C67.6161 61.526 66.9591 60.8687 66.1484 60.8687H62.7412C61.9305 60.8687 61.2734 61.526 61.2734 62.3365C61.2734 63.1473 61.9305 63.8043 62.7412 63.8043Z"
                            fill="white" />
                    </g>
                    <defs>
                        <clipPath id="clip0_3300_769">
                            <rect width="100" height="100" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <h3 class="xl:text-[25px] 2xl:text-[32px] text-center text-white min-h-[86px]">Du lịch và quản lý khách sạn
            </h3>
            <p class="pb-[32px] text-white line-clamp-5">Phát triển các hoạt động du lịch nghỉ dưỡng sinh thái gắn liền
                với việc bảo
                tồn và phát triển hệ sinh
                thái rừng. Tập trung vào thị trường xây dựng các chuyến du lịch khám phá thiên nhiên và du lịch khám phá
                mạo hiểm [...]
            </p>
            <a href="" class="text-[#BA9256] see-more-activity">XEM THÊM</a>
        </div>
        <div class="col-span-1 p-[32px] m-auto  wrapper-activity">
            <div class="flex m-auto rounded-full w-[230px] h-[230px] bg-[#2E6D45] mb-[32px]">
                <svg class="m-auto" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"
                    fill="none">
                    <g clip-path="url(#clip0_3300_769)">
                        <path
                            d="M89.2378 97.0647H78.8485V28.6244C78.8485 25.6965 76.4665 23.3145 73.5385 23.3145H45.9949C45.1844 23.3145 44.5272 23.9715 44.5272 24.7822C44.5272 25.593 45.1844 26.25 45.9949 26.25H73.5387C74.8479 26.25 75.9133 27.3152 75.9133 28.6246V97.0647H61.1092V82.934H64.6502C65.1069 82.934 65.5375 82.7215 65.8153 82.359C66.093 81.9965 66.1862 81.5254 66.0676 81.0846C65.134 77.618 63.0512 74.4889 60.2028 72.2742C59.5629 71.7768 58.6409 71.892 58.1432 72.5321C57.6455 73.1719 57.761 74.0942 58.401 74.5916C60.2287 76.0127 61.6739 77.8899 62.5869 79.9987H37.4088C39.5447 75.0379 44.4758 71.7143 49.9992 71.7143C51.2274 71.7143 52.4446 71.8766 53.6166 72.1965C54.3979 72.4098 55.2055 71.949 55.419 71.167C55.6325 70.385 55.1715 69.5781 54.3895 69.3647C52.9653 68.976 51.4883 68.7789 49.9992 68.7789C42.4899 68.7789 35.8824 73.8393 33.9311 81.0848C33.8123 81.5256 33.9055 81.9967 34.1834 82.3592C34.4611 82.7217 34.8918 82.9342 35.3485 82.9342H38.8895V97.0649H24.0856V65.2721C24.0856 64.4615 23.4285 63.8043 22.6178 63.8043C21.807 63.8043 21.15 64.4615 21.15 65.2721V97.0647H10.7607C9.9502 97.0647 9.29297 97.7219 9.29297 98.5325C9.29297 99.343 9.95 100 10.7607 100H89.2378C90.0485 100 90.7055 99.343 90.7055 98.5325C90.7055 97.7217 90.0485 97.0647 89.2378 97.0647ZM41.8248 82.9338H58.1737V97.0645H41.8248V82.9338Z"
                            fill="white" />
                        <path
                            d="M41.5902 24.7822C41.5902 23.9717 40.9332 23.3145 40.1225 23.3145H26.4584C23.5305 23.3145 21.1484 25.6965 21.1484 28.6244V59.4012C21.1484 60.2118 21.8057 60.869 22.6162 60.869C23.4268 60.869 24.084 60.2118 24.084 59.4012V28.6244C24.084 27.315 25.1492 26.2498 26.4586 26.2498H40.1227C40.9332 26.25 41.5902 25.5928 41.5902 24.7822Z"
                            fill="white" />
                        <path
                            d="M42.9152 12.8701L42.6513 16.6348C42.583 17.61 43.0142 18.535 43.805 19.1096C44.296 19.4662 44.8724 19.6494 45.456 19.6494C45.8124 19.6494 46.1714 19.5811 46.5152 19.4422L50.0142 18.0279L53.513 19.4422C54.4193 19.8086 55.4328 19.6842 56.2232 19.1098C57.014 18.5354 57.4453 17.6102 57.3771 16.635L57.1132 12.8703L59.5396 9.97949C60.1681 9.23086 60.3629 8.22891 60.0609 7.29922C59.7588 6.36953 59.0123 5.67363 58.0638 5.43731L54.4015 4.52481L52.4023 1.32402C52.4023 1.32383 52.4021 1.32383 52.4021 1.32383C51.8841 0.494922 50.9914 0 50.014 0C49.0367 0 48.1441 0.494922 47.6261 1.32402L45.6267 4.52481L41.9648 5.43731C41.0163 5.67363 40.2699 6.36953 39.9677 7.29922C39.6656 8.22891 39.8605 9.23086 40.4888 9.97949L42.9152 12.8701ZM46.3833 7.36152C47.0957 7.18399 47.7019 6.74356 48.0906 6.12109L50.014 3.0418L51.9377 6.12129C52.3265 6.74375 52.933 7.18418 53.6449 7.36152L57.1677 8.23926L54.8339 11.0199C54.3617 11.582 54.13 12.2949 54.1816 13.0271L54.4355 16.649L51.0689 15.2883C50.7287 15.1508 50.3716 15.0822 50.0142 15.0822C49.6568 15.0822 49.2994 15.151 48.9589 15.2885L45.5929 16.649L45.8466 13.0273C45.898 12.2953 45.6664 11.5824 45.1945 11.0203L42.8603 8.23945L46.3833 7.36152Z"
                            fill="white" />
                        <path
                            d="M19.2345 13.8143L19.0204 16.8699C18.9575 17.769 19.355 18.6219 20.0843 19.1516C20.8132 19.6813 21.7474 19.7961 22.5833 19.4584L25.4232 18.3104L28.2632 19.4584C28.58 19.5865 28.911 19.6496 29.2398 19.6494C29.7776 19.6494 30.3095 19.4807 30.7622 19.1516C31.4913 18.6219 31.8892 17.7688 31.8261 16.8697L31.612 13.8141L33.5812 11.468C34.1607 10.7777 34.3403 9.85392 34.0618 8.99669C33.7833 8.13946 33.095 7.49767 32.2204 7.2797L29.2482 6.53907L27.6253 3.94122C27.1478 3.17697 26.3247 2.72052 25.4235 2.72052C24.5222 2.72052 23.6991 3.17697 23.2216 3.94142L21.5987 6.53927L18.6265 7.27989C17.7519 7.49786 17.0634 8.13985 16.7849 8.99708C16.5064 9.85431 16.6862 10.7781 17.2655 11.4682L19.2345 13.8143ZM22.4415 9.35431C23.098 9.19064 23.6567 8.78458 24.0153 8.21056L25.4232 5.95704L26.8308 8.21056C27.1892 8.78438 27.7482 9.19064 28.4052 9.35431L30.9835 9.99669L29.2751 12.032C28.8401 12.5504 28.6267 13.2076 28.6739 13.8824L28.8597 16.5332L26.3962 15.5375C25.7687 15.2838 25.0774 15.2838 24.4501 15.5375L21.9866 16.5334L22.1724 13.8826C22.2196 13.2074 22.0062 12.55 21.5712 12.032L19.863 9.99669L22.4415 9.35431Z"
                            fill="white" />
                        <path
                            d="M68.3836 13.8142L68.1696 16.8697C68.1063 17.7687 68.5039 18.6219 69.2328 19.1516C69.6856 19.4805 70.2174 19.6494 70.7555 19.6494C71.0842 19.6494 71.4152 19.5865 71.732 19.4584L74.5719 18.3103L77.4119 19.4584C78.2473 19.7959 79.1814 19.6814 79.9107 19.1516C80.6398 18.6219 81.0375 17.7687 80.9744 16.8697L80.7601 13.8142L82.7295 11.468C83.309 10.7777 83.4886 9.8539 83.2101 8.99667C82.9316 8.13945 82.2433 7.49765 81.3687 7.27968L78.3965 6.53906L76.7736 3.94101C76.2961 3.17675 75.473 2.72031 74.5719 2.72031C73.6707 2.72031 72.8475 3.17656 72.3699 3.94101C72.3699 3.94101 72.3699 3.94101 72.3697 3.94101L70.7469 6.53906L67.7748 7.27968C66.9002 7.49765 66.2119 8.13945 65.9334 8.99648C65.6547 9.8537 65.8346 10.7775 66.4141 11.468L68.3836 13.8142ZM71.5904 9.35448C72.2469 9.19081 72.8059 8.78456 73.1645 8.21073L74.5721 5.95702L75.9797 8.21073C76.3383 8.78456 76.8973 9.19081 77.5541 9.35448L80.1326 9.99687L78.4242 12.0322C77.9893 12.5506 77.7756 13.2078 77.823 13.8826L78.0088 16.5334L75.5455 15.5379C75.2316 15.4109 74.9022 15.3475 74.5723 15.3475C74.2428 15.3475 73.9131 15.4109 73.5994 15.5377L71.136 16.5334L71.3215 13.8826C71.369 13.2076 71.1555 12.5504 70.7203 12.032L69.0121 9.99667L71.5904 9.35448Z"
                            fill="white" />
                        <path
                            d="M37.2578 36.8055H33.8506C33.04 36.8055 32.3828 37.4627 32.3828 38.2733C32.3828 39.0838 33.0398 39.741 33.8506 39.741H37.2578C38.0684 39.741 38.7256 39.0838 38.7256 38.2733C38.7256 37.4625 38.0684 36.8055 37.2578 36.8055Z"
                            fill="white" />
                        <path
                            d="M46.8869 36.8055H43.4795C42.6689 36.8055 42.0117 37.4627 42.0117 38.2733C42.0117 39.0838 42.6688 39.741 43.4795 39.741H46.8869C47.6975 39.741 48.3547 39.0838 48.3547 38.2733C48.3547 37.4625 47.6977 36.8055 46.8869 36.8055Z"
                            fill="white" />
                        <path
                            d="M53.1084 39.7408H56.5156C57.3264 39.7408 57.9834 39.0836 57.9834 38.273C57.9834 37.4625 57.3264 36.8053 56.5156 36.8053H53.1084C52.2977 36.8053 51.6406 37.4625 51.6406 38.273C51.6406 39.0838 52.2977 39.7408 53.1084 39.7408Z"
                            fill="white" />
                        <path
                            d="M62.7412 39.7408H66.1484C66.9591 39.7408 67.6161 39.0836 67.6161 38.273C67.6161 37.4625 66.9591 36.8053 66.1484 36.8053H62.7412C61.9305 36.8053 61.2734 37.4625 61.2734 38.273C61.2734 39.0838 61.9305 39.7408 62.7412 39.7408Z"
                            fill="white" />
                        <path
                            d="M37.2578 44.8266H33.8506C33.04 44.8266 32.3828 45.4838 32.3828 46.2943C32.3828 47.1049 33.0398 47.7621 33.8506 47.7621H37.2578C38.0684 47.7621 38.7256 47.1049 38.7256 46.2943C38.7256 45.4836 38.0684 44.8266 37.2578 44.8266Z"
                            fill="white" />
                        <path
                            d="M46.8869 44.8266H43.4795C42.6689 44.8266 42.0117 45.4838 42.0117 46.2943C42.0117 47.1049 42.6688 47.7621 43.4795 47.7621H46.8869C47.6975 47.7621 48.3547 47.1049 48.3547 46.2943C48.3547 45.4836 47.6977 44.8266 46.8869 44.8266Z"
                            fill="white" />
                        <path
                            d="M53.1084 47.7619H56.5156C57.3264 47.7619 57.9834 47.1047 57.9834 46.2941C57.9834 45.4836 57.3264 44.8264 56.5156 44.8264H53.1084C52.2977 44.8264 51.6406 45.4836 51.6406 46.2941C51.6406 47.1049 52.2977 47.7619 53.1084 47.7619Z"
                            fill="white" />
                        <path
                            d="M62.7412 47.7619H66.1484C66.9591 47.7619 67.6161 47.1047 67.6161 46.2941C67.6161 45.4836 66.9591 44.8264 66.1484 44.8264H62.7412C61.9305 44.8264 61.2734 45.4836 61.2734 46.2941C61.2734 47.1049 61.9305 47.7619 62.7412 47.7619Z"
                            fill="white" />
                        <path
                            d="M37.2578 52.8477H33.8506C33.04 52.8477 32.3828 53.5049 32.3828 54.3154C32.3828 55.126 33.0398 55.7832 33.8506 55.7832H37.2578C38.0684 55.7832 38.7256 55.126 38.7256 54.3154C38.7256 53.5049 38.0684 52.8477 37.2578 52.8477Z"
                            fill="white" />
                        <path
                            d="M46.8869 52.8477H43.4795C42.6689 52.8477 42.0117 53.5049 42.0117 54.3154C42.0117 55.126 42.6688 55.7832 43.4795 55.7832H46.8869C47.6975 55.7832 48.3547 55.126 48.3547 54.3154C48.3547 53.5049 47.6977 52.8477 46.8869 52.8477Z"
                            fill="white" />
                        <path
                            d="M53.1084 55.7832H56.5156C57.3264 55.7832 57.9834 55.126 57.9834 54.3154C57.9834 53.5049 57.3264 52.8477 56.5156 52.8477H53.1084C52.2977 52.8477 51.6406 53.5049 51.6406 54.3154C51.6406 55.126 52.2977 55.7832 53.1084 55.7832Z"
                            fill="white" />
                        <path
                            d="M62.7412 55.7832H66.1484C66.9591 55.7832 67.6161 55.126 67.6161 54.3154C67.6161 53.5049 66.9591 52.8477 66.1484 52.8477H62.7412C61.9305 52.8477 61.2734 53.5049 61.2734 54.3154C61.2734 55.126 61.9305 55.7832 62.7412 55.7832Z"
                            fill="white" />
                        <path
                            d="M37.2578 60.869H33.8506C33.04 60.869 32.3828 61.5262 32.3828 62.3367C32.3828 63.1473 33.0398 63.8045 33.8506 63.8045H37.2578C38.0684 63.8045 38.7256 63.1473 38.7256 62.3367C38.7256 61.526 38.0684 60.869 37.2578 60.869Z"
                            fill="white" />
                        <path
                            d="M46.8869 60.869H43.4795C42.6689 60.869 42.0117 61.5262 42.0117 62.3367C42.0117 63.1473 42.6688 63.8045 43.4795 63.8045H46.8869C47.6975 63.8045 48.3547 63.1473 48.3547 62.3367C48.3547 61.526 47.6977 60.869 46.8869 60.869Z"
                            fill="white" />
                        <path
                            d="M53.1084 63.8043H56.5156C57.3264 63.8043 57.9834 63.1471 57.9834 62.3365C57.9834 61.526 57.3264 60.8687 56.5156 60.8687H53.1084C52.2977 60.8687 51.6406 61.526 51.6406 62.3365C51.6406 63.1473 52.2977 63.8043 53.1084 63.8043Z"
                            fill="white" />
                        <path
                            d="M62.7412 63.8043H66.1484C66.9591 63.8043 67.6161 63.1471 67.6161 62.3365C67.6161 61.526 66.9591 60.8687 66.1484 60.8687H62.7412C61.9305 60.8687 61.2734 61.526 61.2734 62.3365C61.2734 63.1473 61.9305 63.8043 62.7412 63.8043Z"
                            fill="white" />
                    </g>
                    <defs>
                        <clipPath id="clip0_3300_769">
                            <rect width="100" height="100" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <h3 class="xl:text-[25px] 2xl:text-[32px] text-center text-white min-h-[86px]">Du lịch và quản lý khách sạn
            </h3>
            <p class="pb-[32px] text-white line-clamp-5">Phát triển các hoạt động du lịch nghỉ dưỡng sinh thái gắn liền
                với việc bảo
                tồn và phát triển hệ sinh
                thái rừng. Tập trung vào thị trường xây dựng các chuyến du lịch khám phá thiên nhiên và du lịch khám phá
                mạo hiểm [...]
            </p>
            <a href="" class="text-[#BA9256] see-more-activity">XEM THÊM</a>
        </div>
        <div class="col-span-1 p-[32px] m-auto  wrapper-activity">
            <div class="flex m-auto rounded-full w-[230px] h-[230px] bg-[#2E6D45] mb-[32px]">
                <svg class="m-auto" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"
                    fill="none">
                    <g clip-path="url(#clip0_3300_769)">
                        <path
                            d="M89.2378 97.0647H78.8485V28.6244C78.8485 25.6965 76.4665 23.3145 73.5385 23.3145H45.9949C45.1844 23.3145 44.5272 23.9715 44.5272 24.7822C44.5272 25.593 45.1844 26.25 45.9949 26.25H73.5387C74.8479 26.25 75.9133 27.3152 75.9133 28.6246V97.0647H61.1092V82.934H64.6502C65.1069 82.934 65.5375 82.7215 65.8153 82.359C66.093 81.9965 66.1862 81.5254 66.0676 81.0846C65.134 77.618 63.0512 74.4889 60.2028 72.2742C59.5629 71.7768 58.6409 71.892 58.1432 72.5321C57.6455 73.1719 57.761 74.0942 58.401 74.5916C60.2287 76.0127 61.6739 77.8899 62.5869 79.9987H37.4088C39.5447 75.0379 44.4758 71.7143 49.9992 71.7143C51.2274 71.7143 52.4446 71.8766 53.6166 72.1965C54.3979 72.4098 55.2055 71.949 55.419 71.167C55.6325 70.385 55.1715 69.5781 54.3895 69.3647C52.9653 68.976 51.4883 68.7789 49.9992 68.7789C42.4899 68.7789 35.8824 73.8393 33.9311 81.0848C33.8123 81.5256 33.9055 81.9967 34.1834 82.3592C34.4611 82.7217 34.8918 82.9342 35.3485 82.9342H38.8895V97.0649H24.0856V65.2721C24.0856 64.4615 23.4285 63.8043 22.6178 63.8043C21.807 63.8043 21.15 64.4615 21.15 65.2721V97.0647H10.7607C9.9502 97.0647 9.29297 97.7219 9.29297 98.5325C9.29297 99.343 9.95 100 10.7607 100H89.2378C90.0485 100 90.7055 99.343 90.7055 98.5325C90.7055 97.7217 90.0485 97.0647 89.2378 97.0647ZM41.8248 82.9338H58.1737V97.0645H41.8248V82.9338Z"
                            fill="white" />
                        <path
                            d="M41.5902 24.7822C41.5902 23.9717 40.9332 23.3145 40.1225 23.3145H26.4584C23.5305 23.3145 21.1484 25.6965 21.1484 28.6244V59.4012C21.1484 60.2118 21.8057 60.869 22.6162 60.869C23.4268 60.869 24.084 60.2118 24.084 59.4012V28.6244C24.084 27.315 25.1492 26.2498 26.4586 26.2498H40.1227C40.9332 26.25 41.5902 25.5928 41.5902 24.7822Z"
                            fill="white" />
                        <path
                            d="M42.9152 12.8701L42.6513 16.6348C42.583 17.61 43.0142 18.535 43.805 19.1096C44.296 19.4662 44.8724 19.6494 45.456 19.6494C45.8124 19.6494 46.1714 19.5811 46.5152 19.4422L50.0142 18.0279L53.513 19.4422C54.4193 19.8086 55.4328 19.6842 56.2232 19.1098C57.014 18.5354 57.4453 17.6102 57.3771 16.635L57.1132 12.8703L59.5396 9.97949C60.1681 9.23086 60.3629 8.22891 60.0609 7.29922C59.7588 6.36953 59.0123 5.67363 58.0638 5.43731L54.4015 4.52481L52.4023 1.32402C52.4023 1.32383 52.4021 1.32383 52.4021 1.32383C51.8841 0.494922 50.9914 0 50.014 0C49.0367 0 48.1441 0.494922 47.6261 1.32402L45.6267 4.52481L41.9648 5.43731C41.0163 5.67363 40.2699 6.36953 39.9677 7.29922C39.6656 8.22891 39.8605 9.23086 40.4888 9.97949L42.9152 12.8701ZM46.3833 7.36152C47.0957 7.18399 47.7019 6.74356 48.0906 6.12109L50.014 3.0418L51.9377 6.12129C52.3265 6.74375 52.933 7.18418 53.6449 7.36152L57.1677 8.23926L54.8339 11.0199C54.3617 11.582 54.13 12.2949 54.1816 13.0271L54.4355 16.649L51.0689 15.2883C50.7287 15.1508 50.3716 15.0822 50.0142 15.0822C49.6568 15.0822 49.2994 15.151 48.9589 15.2885L45.5929 16.649L45.8466 13.0273C45.898 12.2953 45.6664 11.5824 45.1945 11.0203L42.8603 8.23945L46.3833 7.36152Z"
                            fill="white" />
                        <path
                            d="M19.2345 13.8143L19.0204 16.8699C18.9575 17.769 19.355 18.6219 20.0843 19.1516C20.8132 19.6813 21.7474 19.7961 22.5833 19.4584L25.4232 18.3104L28.2632 19.4584C28.58 19.5865 28.911 19.6496 29.2398 19.6494C29.7776 19.6494 30.3095 19.4807 30.7622 19.1516C31.4913 18.6219 31.8892 17.7688 31.8261 16.8697L31.612 13.8141L33.5812 11.468C34.1607 10.7777 34.3403 9.85392 34.0618 8.99669C33.7833 8.13946 33.095 7.49767 32.2204 7.2797L29.2482 6.53907L27.6253 3.94122C27.1478 3.17697 26.3247 2.72052 25.4235 2.72052C24.5222 2.72052 23.6991 3.17697 23.2216 3.94142L21.5987 6.53927L18.6265 7.27989C17.7519 7.49786 17.0634 8.13985 16.7849 8.99708C16.5064 9.85431 16.6862 10.7781 17.2655 11.4682L19.2345 13.8143ZM22.4415 9.35431C23.098 9.19064 23.6567 8.78458 24.0153 8.21056L25.4232 5.95704L26.8308 8.21056C27.1892 8.78438 27.7482 9.19064 28.4052 9.35431L30.9835 9.99669L29.2751 12.032C28.8401 12.5504 28.6267 13.2076 28.6739 13.8824L28.8597 16.5332L26.3962 15.5375C25.7687 15.2838 25.0774 15.2838 24.4501 15.5375L21.9866 16.5334L22.1724 13.8826C22.2196 13.2074 22.0062 12.55 21.5712 12.032L19.863 9.99669L22.4415 9.35431Z"
                            fill="white" />
                        <path
                            d="M68.3836 13.8142L68.1696 16.8697C68.1063 17.7687 68.5039 18.6219 69.2328 19.1516C69.6856 19.4805 70.2174 19.6494 70.7555 19.6494C71.0842 19.6494 71.4152 19.5865 71.732 19.4584L74.5719 18.3103L77.4119 19.4584C78.2473 19.7959 79.1814 19.6814 79.9107 19.1516C80.6398 18.6219 81.0375 17.7687 80.9744 16.8697L80.7601 13.8142L82.7295 11.468C83.309 10.7777 83.4886 9.8539 83.2101 8.99667C82.9316 8.13945 82.2433 7.49765 81.3687 7.27968L78.3965 6.53906L76.7736 3.94101C76.2961 3.17675 75.473 2.72031 74.5719 2.72031C73.6707 2.72031 72.8475 3.17656 72.3699 3.94101C72.3699 3.94101 72.3699 3.94101 72.3697 3.94101L70.7469 6.53906L67.7748 7.27968C66.9002 7.49765 66.2119 8.13945 65.9334 8.99648C65.6547 9.8537 65.8346 10.7775 66.4141 11.468L68.3836 13.8142ZM71.5904 9.35448C72.2469 9.19081 72.8059 8.78456 73.1645 8.21073L74.5721 5.95702L75.9797 8.21073C76.3383 8.78456 76.8973 9.19081 77.5541 9.35448L80.1326 9.99687L78.4242 12.0322C77.9893 12.5506 77.7756 13.2078 77.823 13.8826L78.0088 16.5334L75.5455 15.5379C75.2316 15.4109 74.9022 15.3475 74.5723 15.3475C74.2428 15.3475 73.9131 15.4109 73.5994 15.5377L71.136 16.5334L71.3215 13.8826C71.369 13.2076 71.1555 12.5504 70.7203 12.032L69.0121 9.99667L71.5904 9.35448Z"
                            fill="white" />
                        <path
                            d="M37.2578 36.8055H33.8506C33.04 36.8055 32.3828 37.4627 32.3828 38.2733C32.3828 39.0838 33.0398 39.741 33.8506 39.741H37.2578C38.0684 39.741 38.7256 39.0838 38.7256 38.2733C38.7256 37.4625 38.0684 36.8055 37.2578 36.8055Z"
                            fill="white" />
                        <path
                            d="M46.8869 36.8055H43.4795C42.6689 36.8055 42.0117 37.4627 42.0117 38.2733C42.0117 39.0838 42.6688 39.741 43.4795 39.741H46.8869C47.6975 39.741 48.3547 39.0838 48.3547 38.2733C48.3547 37.4625 47.6977 36.8055 46.8869 36.8055Z"
                            fill="white" />
                        <path
                            d="M53.1084 39.7408H56.5156C57.3264 39.7408 57.9834 39.0836 57.9834 38.273C57.9834 37.4625 57.3264 36.8053 56.5156 36.8053H53.1084C52.2977 36.8053 51.6406 37.4625 51.6406 38.273C51.6406 39.0838 52.2977 39.7408 53.1084 39.7408Z"
                            fill="white" />
                        <path
                            d="M62.7412 39.7408H66.1484C66.9591 39.7408 67.6161 39.0836 67.6161 38.273C67.6161 37.4625 66.9591 36.8053 66.1484 36.8053H62.7412C61.9305 36.8053 61.2734 37.4625 61.2734 38.273C61.2734 39.0838 61.9305 39.7408 62.7412 39.7408Z"
                            fill="white" />
                        <path
                            d="M37.2578 44.8266H33.8506C33.04 44.8266 32.3828 45.4838 32.3828 46.2943C32.3828 47.1049 33.0398 47.7621 33.8506 47.7621H37.2578C38.0684 47.7621 38.7256 47.1049 38.7256 46.2943C38.7256 45.4836 38.0684 44.8266 37.2578 44.8266Z"
                            fill="white" />
                        <path
                            d="M46.8869 44.8266H43.4795C42.6689 44.8266 42.0117 45.4838 42.0117 46.2943C42.0117 47.1049 42.6688 47.7621 43.4795 47.7621H46.8869C47.6975 47.7621 48.3547 47.1049 48.3547 46.2943C48.3547 45.4836 47.6977 44.8266 46.8869 44.8266Z"
                            fill="white" />
                        <path
                            d="M53.1084 47.7619H56.5156C57.3264 47.7619 57.9834 47.1047 57.9834 46.2941C57.9834 45.4836 57.3264 44.8264 56.5156 44.8264H53.1084C52.2977 44.8264 51.6406 45.4836 51.6406 46.2941C51.6406 47.1049 52.2977 47.7619 53.1084 47.7619Z"
                            fill="white" />
                        <path
                            d="M62.7412 47.7619H66.1484C66.9591 47.7619 67.6161 47.1047 67.6161 46.2941C67.6161 45.4836 66.9591 44.8264 66.1484 44.8264H62.7412C61.9305 44.8264 61.2734 45.4836 61.2734 46.2941C61.2734 47.1049 61.9305 47.7619 62.7412 47.7619Z"
                            fill="white" />
                        <path
                            d="M37.2578 52.8477H33.8506C33.04 52.8477 32.3828 53.5049 32.3828 54.3154C32.3828 55.126 33.0398 55.7832 33.8506 55.7832H37.2578C38.0684 55.7832 38.7256 55.126 38.7256 54.3154C38.7256 53.5049 38.0684 52.8477 37.2578 52.8477Z"
                            fill="white" />
                        <path
                            d="M46.8869 52.8477H43.4795C42.6689 52.8477 42.0117 53.5049 42.0117 54.3154C42.0117 55.126 42.6688 55.7832 43.4795 55.7832H46.8869C47.6975 55.7832 48.3547 55.126 48.3547 54.3154C48.3547 53.5049 47.6977 52.8477 46.8869 52.8477Z"
                            fill="white" />
                        <path
                            d="M53.1084 55.7832H56.5156C57.3264 55.7832 57.9834 55.126 57.9834 54.3154C57.9834 53.5049 57.3264 52.8477 56.5156 52.8477H53.1084C52.2977 52.8477 51.6406 53.5049 51.6406 54.3154C51.6406 55.126 52.2977 55.7832 53.1084 55.7832Z"
                            fill="white" />
                        <path
                            d="M62.7412 55.7832H66.1484C66.9591 55.7832 67.6161 55.126 67.6161 54.3154C67.6161 53.5049 66.9591 52.8477 66.1484 52.8477H62.7412C61.9305 52.8477 61.2734 53.5049 61.2734 54.3154C61.2734 55.126 61.9305 55.7832 62.7412 55.7832Z"
                            fill="white" />
                        <path
                            d="M37.2578 60.869H33.8506C33.04 60.869 32.3828 61.5262 32.3828 62.3367C32.3828 63.1473 33.0398 63.8045 33.8506 63.8045H37.2578C38.0684 63.8045 38.7256 63.1473 38.7256 62.3367C38.7256 61.526 38.0684 60.869 37.2578 60.869Z"
                            fill="white" />
                        <path
                            d="M46.8869 60.869H43.4795C42.6689 60.869 42.0117 61.5262 42.0117 62.3367C42.0117 63.1473 42.6688 63.8045 43.4795 63.8045H46.8869C47.6975 63.8045 48.3547 63.1473 48.3547 62.3367C48.3547 61.526 47.6977 60.869 46.8869 60.869Z"
                            fill="white" />
                        <path
                            d="M53.1084 63.8043H56.5156C57.3264 63.8043 57.9834 63.1471 57.9834 62.3365C57.9834 61.526 57.3264 60.8687 56.5156 60.8687H53.1084C52.2977 60.8687 51.6406 61.526 51.6406 62.3365C51.6406 63.1473 52.2977 63.8043 53.1084 63.8043Z"
                            fill="white" />
                        <path
                            d="M62.7412 63.8043H66.1484C66.9591 63.8043 67.6161 63.1471 67.6161 62.3365C67.6161 61.526 66.9591 60.8687 66.1484 60.8687H62.7412C61.9305 60.8687 61.2734 61.526 61.2734 62.3365C61.2734 63.1473 61.9305 63.8043 62.7412 63.8043Z"
                            fill="white" />
                    </g>
                    <defs>
                        <clipPath id="clip0_3300_769">
                            <rect width="100" height="100" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <h3 class="xl:text-[25px] 2xl:text-[32px] text-center text-white min-h-[86px]">Du lịch và quản lý khách sạn
            </h3>
            <p class="pb-[32px] text-white line-clamp-5">Phát triển các hoạt động du lịch nghỉ dưỡng sinh thái gắn liền
                với việc bảo
                tồn và phát triển hệ sinh
                thái rừng. Tập trung vào thị trường xây dựng các chuyến du lịch khám phá thiên nhiên và du lịch khám phá
                mạo hiểm [...]
            </p>
            <a href="" class="text-[#BA9256] see-more-activity">XEM THÊM</a>
        </div>
        {% endif%}



    </div>
</div>

<!-- Dự án -->
<div style="background-image: url('../../static/images/landing-img-49 1.png');">
    <div id="app" class="w-full xl:py-[100px] 2xl:py-[150px] mx-auto transition-all duration-500 ease-linear">
        <div class="" id="projects">
            <p class="text-[#BA9256] text-center">{{descProjects.short_title}}</p>
            <h2 class="xl:text-[30px] 2xl:text-[40px] text-[#181C23] text-center">{{descProjects.title}}</h2>
        </div>
        <div class="relative my-[50px]">
            <div
                class="slides-container xl:h-[600px] 2xl:h-[700px] flex snap-x snap-mandatory overflow-hidden overflow-x-auto space-x-2 rounded scroll-smooth before:w-[45vw] before:shrink-0 after:w-[45vw] after:shrink-0 md:before:w-0 md:after:w-0">
                {% for itemProjects in itemProjects%}
                <a href="{% url 'project-detail' itemProjects.id %}">
                    <div class="slide w-[472px] h-full flex-shrink-0 snap-center rounded overflow-hidden relative">
                        <img class="w-full h-full object-cover" src="{{itemProjects.image}}" alt="mountain_image">
                        <div class="desc-slides absolute bottom-0 left-0 right-0 px-[24px] pt-[64px] pb-[32px]">
                            <h3 class="text-[32px] text-white">{{itemProjects.title}}</h3>
                            <p class="text-[#BA9256] font-medium uppercase">{{itemProjects.area}}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>

            <div class="absolute top-0 left-[10px] h-full items-center hidden md:flex">
                <button role="button" class="prev px-2 py-2 rounded-full bg-neutral-100 text-neutral-900 group"
                    aria-label="prev"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor"
                        class="w-5 h-5 group-active:-translate-x-2 transition-all duration-200 ease-linear">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                    </svg>

                </button>
            </div>
            <div class="absolute top-0 right-[10px] h-full items-center hidden md:flex">
                <button role="button" class="next px-2 py-2 rounded-full bg-neutral-100 text-neutral-900 group"
                    aria-label="next"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor"
                        class="w-5 h-5 group-active:translate-x-2 transition-all duration-200 ease-linear">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="flex">
            <a href="{% url 'projects'%}" class="m-auto">
                <button
                    class=" rounded-full border-2 border-[#BA9256] font-bold text-[#666666] px-[32px] py-[16px] xl:text-[14px] 2xl:text-[16px]">XEM
                    TẤT CẢ CÁC DỰ ÁN</button>
            </a>
        </div>
    </div>
</div>

<div id="recruitment" class="grid grid-cols-2 bg-[#F9F8F5] gap-[80px] mb-[150px]">
    <img class="col-span-1" src="{% static 'images/'|add:recruitment.image %}" alt="" srcset="" width="100%">
    <div class="col-span-1 my-auto xl:pr-[60px] 2xl:pr-[120px]">
        <div class="">
            <p class="text-[#BA9256] font-medium">{{recruitment.short_title}}</p>
            <h2 class="xl:text-[30px] 2xl:text-[40px] font-normal text-[#181C23]">{{recruitment.title}}</h2>
        </div>
        <div class="xl:my-[25px] 2xl:my-[50px] flex flex-col gap-[32px]">
            {% for itemRecruitment in itemRecruitment %}
            <div class="wrapper-td flex items-center justify-between bg-white py-[39px] px-[24px]">
                <div class="flex-1">
                    <h3 class="text-[#181C23] xl:text-[25px] 2xl:text-[32px] pb-[16px]">{{itemRecruitment.title}}
                    </h3>
                    <div class="flex gap-[32px] ">
                        <p class="text-[#666666]">Mức lương: <span class="font-bold">{{itemRecruitment.salary}}</span>
                        </p>
                        <p class="text-[#666666]">Số lượng: <span class="font-bold">{{itemRecruitment.quantity}}</span>
                        </p>
                    </div>
                </div>
                <a href="{% url 'recruitment-detail' 1 %}"
                    class="apply-now text-[#BA9256] font-bold hidden gap-[5px] items-center xl:text-[12px] 2xl:text-[16px]">
                    ỨNG TUYỂN NGAY
                    <svg class="h-5 w-5 text-[#BA9256]" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M17 8l4 4m0 0l-4 4m4-4H3" />
                    </svg>
                </a>
            </div>
            {%endfor%}
        </div>
        <a href="{% url 'recruitments' %}"
            class="xl:text-[14px] 2xl:text-[16px]  border-2 border-[#BA9256] rounded-full px-[32px] py-[16px] font-bold text-[#666666]">
            XEM TẤT CẢ
        </a>
    </div>
</div>

<div id="news" class="xl:pt-[300px] 2xl:pt-[381px] relative mb-[160px]">
    <div class="bg-[#BA9256] xl:h-[400px] 2xl:h-[541px]">
        <div class="absolute top-0 left-0 right-0">
            <div class="mb-[50px]">
                <p class="text-[#BA9256] font-bold text-center">{{descNews.short_title}}</p>
                <h2 class="text-[32px] text-[#181C23] text-center">{{descNews.title}}</h2>
            </div>
            <div class="grid grid-cols-3 xl:px-[30px] 2xl:px-[122px] gap-[32px]">
                {% for itemNews in itemNews%}
                <div class="col-span-1 zoom-wrapper">
                    <div class="overflow-hidden height-[360px]">
                        <img src="{% static 'images/'|add:itemNews.image %}" alt="" srcset="" width="100%"
                            height="100%">
                    </div>
                    <div class="xl:py-[20px] xl:px-[15px] 2xl:py-[32px] 2xl:px-[24px] bg-white">
                        <p class="text-[#BA9256] font-bold">{{itemNews.created_at|date:"d/m/Y"}}</p>
                        <h3 class="text-[32px] text-[#181C23] line-clamp-2">{{itemNews.title}}</h3>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div>
    <div>
        <h2 class="text-[40px] text-[#181C23] text-center"> {{descPartner.title}} </h2>
        <p class="text-[#666666] text-center xl:px-[150px] 2xl:px-[353px]">
            {{descPartner.short_content}}
        </p>
    </div>
</div>

<div class="px-[129px] relative mb-[150px]">
    <div id="app" class="w-full mx-auto transition-all duration-500 ease-linear">
        <div class=" my-[50px]">
            <div
                class="slides-container  gap-[30px] h-[50px] flex snap-x snap-mandatory overflow-hidden overflow-x-auto space-x-2 rounded scroll-smooth before:w-[45vw] before:shrink-0 after:w-[45vw] after:shrink-0 md:before:w-0 md:after:w-0">
                {% for itemPartner in itemPartner %}
                <div class="slide h-full flex-shrink-0 snap-center rounded overflow-hidden relative">
                    <a href="{{itemPartner.link}}">
                        <img class="w-full h-full object-cover" src="{% static 'images/'|add:itemPartner.image %}"
                            alt="mountain_image">
                    </a>
                </div>
                {% endfor %}
            </div>

            <div class="absolute top-0 left-[10px] h-full items-center hidden md:flex">
                <button role="button" class="prev px-2 py-2 rounded-full bg-neutral-100 text-neutral-900 group"
                    aria-label="prev"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor"
                        class="w-5 h-5 group-active:-translate-x-2 transition-all duration-200 ease-linear">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
                    </svg>

                </button>
            </div>
            <div class="absolute top-0 right-[10px] h-full items-center hidden md:flex">
                <button role="button" class="next px-2 py-2 rounded-full bg-neutral-100 text-neutral-900 group"
                    aria-label="next"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor"
                        class="w-5 h-5 group-active:translate-x-2 transition-all duration-200 ease-linear">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>

{% block script%}
<script src="{% static 'src/js/home.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
{% endblock script %}
{% endblock content %}