{% extends 'layout-admin.html' %}

{% load static %}

{% block content %}
<form class="mb-5" action="{% url 'admin-banner'%}" method="get">
  <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
  <div class="relative">
    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
      <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="none" viewBox="0 0 20 20">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
      </svg>
    </div>
    <input name="page" type="search" id="default-search"
      class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Tìm kiếm (vd: home)..." required />
    <button type="submit"
      class="text-white absolute right-2.5 bottom-2.5 bg-[#BA9256] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
  </div>
</form>

<div class="flex justify-end mb-5">
  <button type="button" class="rounded bg-[#BA9256] text-white font-medium px-2 py-2" data-drawer-target="create-data"
    data-drawer-show="create-data" data-drawer-placement="right" aria-controls="create-data">Thêm mới</button>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">STT</th>
        <th scope="col" class="px-6 py-3">Ảnh</th>
        <th scope="col" class="px-6 py-3">Trang</th>
        <th scope="col" class="px-6 py-3">Hành Động</th>
      </tr>
    </thead>
    <tbody>
      {% for banner in banner %}
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          {{forloop.counter}}</th>
        <td scope="row" class="px-6 py-4">
          <img src="{{ banner.image }}" alt="" srcset="" width="50" height="50" />
        </td>
        <td scope="row" class="px-6 py-4">{{ banner.page }}</td>
        <td class="px-6 py-4 text-right flex gap-5">
          <svg onclick="getDetailBanner({{banner.id}})" class="h-5 w-5 text-black" viewBox="0 0 24 24" stroke-width="2"
            stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"
            data-drawer-target="edit-data" data-drawer-show="edit-data" data-drawer-placement="right"
            aria-controls="edit-data">
            <path stroke="none" d="M0 0h24v24H0z" />
            <path d="M9 7 h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />
            <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />
            <line x1="16" y1="5" x2="19" y2="8" />
          </svg>
          <form action="{% url 'admin-banner-delete' banner.id %}" method="post">
            {% csrf_token %}
            <button type="submit">
              <svg class="h-5 w-5 text-black" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <line x1="4" y1="7" x2="20" y2="7" />
                <line x1="10" y1="11" x2="10" y2="17" />
                <line x1="14" y1="11" x2="14" y2="17" />
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
              </svg>
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- create data -->
<div id="create-data"
  class="fixed w-[500px] top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white dark:bg-gray-800"
  tabindex="-1" aria-labelledby="drawer-right-label">
  <button type="button" data-drawer-hide="create-data" aria-controls="create-data"
    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 right-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
    </svg>
    <span class="sr-only">Close menu</span>
  </button>

  <div class="py-6">
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="flex items-center justify-center w-full mb-5">
        <label for="dropzone-file"
          class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
              <span class="font-semibold">Click to upload</span> or drag and drop
            </p>
            <p class="text-xs text-gray-500 dark:text-gray-400">PNG, JPG</p>
          </div>
          <input name="image" id="dropzone-file" type="file" class="hidden" />
        </label>
      </div>
      <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Trang hiện thị
        *</label>
      <select name="page" id="countries"
        class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option value="HOME">Trang Chủ</option>
        <option value="PROJECTS">Dự Án</option>
        <option value="NEWS">Tin Tức</option>
        <option value="RECRUITMENT">Tuyển Dụng</option>
        <option value="CONTACT">Liện Hệ</option>
      </select>

      <div>
        <button type="submit" class="bg-[#BA9256] text-white font-bold py-2 px-4 rounded">Xác nhận</button>
      </div>
    </form>
  </div>
</div>

<!-- edit data -->
<div id="edit-data"
  class="fixed w-[500px] top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white dark:bg-gray-800"
  tabindex="-1" aria-labelledby="drawer-right-label">
  <button type="button" data-drawer-hide="edit-data" aria-controls="edit-data"
    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 right-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
    </svg>
    <span class="sr-only">Close menu</span>
  </button>

  <div class="py-6">
    <form action="{% static 'admin-banner-edit' %}" method="post" id="formEditBanner" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="flex items-center justify-center w-full mb-5">
        <label for="dropzone-file"
          class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
              <span class="font-semibold">Click to upload</span> or drag and drop
            </p>
            <p class="text-xs text-gray-500 dark:text-gray-400">PNG, JPG</p>
          </div>
          <input name="image" id="dropzone-file" class="" type="file" />
        </label>
      </div>
      <img id="valueImageEdit" src="" alt="" srcset="" class="mb-5">
      <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Trang hiện thị
        *</label>
      <select name="page" id="valueEditPage"
        class="mb-5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option value="HOME">Trang Chủ</option>
        <option value="PROJECTS">Dự Án</option>
        <option value="NEWS">Tin Tức</option>
        <option value="RECRUITMENT">Tuyển Dụng</option>
        <option value="CONTACT">Liện Hệ</option>
      </select>

      <div>
        <button type="submit" class="bg-[#BA9256] text-white font-bold py-2 px-4 rounded">Xác nhận</button>
      </div>
    </form>
  </div>
</div>

<script>
  async function getDetailBanner(id) {
    await fetch(`/admin/detail/banner/${id}`).then(async res => {

      const data = await res.json();

      const valueSelect = document.querySelector("#valueEditPage");
      document.querySelector("#valueImageEdit").setAttribute("src", data.data.image)

      for (var i = 0; i < valueSelect.options.length; i++) {

        var option = valueSelect.options[i];
        if (option.value === data.data.page) {
          // Nếu giá trị tùy chọn trùng với giá trị từ phản hồi API, đặt thuộc tính selected
          option.selected = true;
          break; // Thoát khỏi vòng lặp sau khi tìm thấy tùy chọn phù hợp
        }
      }
      document.querySelector("#formEditBanner").setAttribute("action", `/admin/update/banner/${id}`)
    }
    )
  }
</script>
{% endblock %}