{% extends 'layout.html' %}

{% load static %}

{% block statics %}
{% endblock statics%}

{% block content %}
<!-- banner -->
<div class="relative">
    <img src="{% static 'images/Rectangle 1.png'%}" alt="" srcset="" width="100%" height="548">
    <div class="absolute top-0 right-0 left-0 bottom-0 text-center flex flex-col items-center justify-center">
        <h1 class="text-[48px] font-normal text-white uppercase px-[467px]">Làm thế nào để đặt một Resort với giá tốt
            nhất</h1>
        <p class="text-white">Home/Tin tức/Làm thế nào để đặt một Resort với giá tốt nhất</p>
    </div>
    <div class="absolute bottom-0 left-0 right-0">
        <div class="bg-[#C4C4C4] bg-opacity-50 h-[20px] mx-[120px]"></div>
        <div class="bg-white h-[50px] mx-[88px]"></div>
    </div>
</div>

<!--  -->
<div class="py-[50px] px-[121px] grid grid-cols-12 gap-[50px]">
    <div class="col-span-9">
        <div class="mb-[50px]">
            <div class="flex gap-[24px] items-center">
                <div class="flex items-center gap-[5px]">
                    <svg class="h-5 w-5 text-[#BCBCBC]" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <rect x="3" y="4" width="18" height="18" rx="2" ry="2" />
                        <line x1="16" y1="2" x2="16" y2="6" />
                        <line x1="8" y1="2" x2="8" y2="6" />
                        <line x1="3" y1="10" x2="21" y2="10" />
                    </svg>
                    <span class="text-[#BCBCBC]">31/12/2021</span>
                </div>
                <div class="flex items-center gap-[5px]">
                    <svg class="h-5 w-5 text-[#BCBCBC]" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
                        <circle cx="12" cy="7" r="4" />
                    </svg>
                    <span class="text-[#BCBCBC]">Admin</span>
                </div>
                <div class="flex items-center gap-[5px]">
                    <svg class="h-5 w-5 text-[#BCBCBC]" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path
                            d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z" />
                    </svg>
                    <span class="text-[#BCBCBC]">0 bình luận</span>
                </div>
            </div>
            <h3 class="text-[32px] text-[#181C23]">Làm thế nào để đặt một Resort với giá tốt nhất</h3>
        </div>
        <p>nội dụng</p>
    </div>
    <div class="col-span-3">
        <div class="relative mb-[80px]">
            <input type="text" placeholder="Từ khóa tìm kiếm"
                class="rounded-full px-[13px] pl-[16px] pr-[50px] bg-[#F5F5F5] border-1 border-[#F5F5F5] w-full placeholder-[#BCBCBC]">
            <div class="absolute top-0 right-[13px] bottom-0 flex">
                <svg class="h-5 w-5 text-[#BA9256] m-auto" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="11" cy="11" r="8" />
                    <line x1="21" y1="21" x2="16.65" y2="16.65" />
                </svg>
            </div>
        </div>

        <div>
            <h3 class="text-[32px] text-[#181C23] pb-[32px]">Danh mục <span class="font-bold text-[#BA9256]">__</span>
            </h3>
            <div class="flex flex-col gap-[24px] text-[#666666] mb-[80px]">
                <a href="#">Bài viết mới nhất</a>
                <a href="#">Chương trình từ thiện</a>
                <a href="#">Báo chí nói về RAVI</a>
            </div>
            <div class="mb-[80px]">
                <h3 class="text-[32px] text-[#181C23] pb-[32px]">BÀI ĐĂNG MỚI NHẤT <span
                        class="font-bold text-[#BA9256]">__</span></h3>
                <div class="flex flex-col gap-[32px]">
                    <div class="flex gap-[24px] items-end">
                        <img src="{% static 'images/unsplash_qtbV_8P_Ksk (1).png'%}" alt="" srcset=""
                            class="w-[86px] h-full">
                        <div class="flex-1">
                            <h4 class="text-[20px] text-[#181C23] pb-[8px]">Làm thế nào để đặt một Resort với giá tốt
                                nhất</h4>
                            <span class="font-medium text-[#BCBCBC] text-[12px]">Ngày 4/1/2022</span>
                        </div>
                    </div>
                    <div class="flex gap-[24px] items-end">
                        <img src="{% static 'images/unsplash_qtbV_8P_Ksk (1).png'%}" alt="" srcset=""
                            class="w-[86px] h-full">
                        <div class="flex-1">
                            <h4 class="text-[20px] text-[#181C23] pb-[8px]">Làm thế nào để đặt một Resort với giá tốt
                                nhất</h4>
                            <span class="font-medium text-[#BCBCBC] text-[12px]">Ngày 4/1/2022</span>
                        </div>
                    </div>
                    <div class="flex gap-[24px] items-end">
                        <img src="{% static 'images/unsplash_qtbV_8P_Ksk (1).png'%}" alt="" srcset=""
                            class="w-[86px] h-full">
                        <div class="flex-1">
                            <h4 class="text-[20px] text-[#181C23] pb-[8px]">Làm thế nào để đặt một Resort với giá tốt
                                nhất</h4>
                            <span class="font-medium text-[#BCBCBC] text-[12px]">Ngày 4/1/2022</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="text-[32px] text-[#181C23] pb-[32px]">Tags <span class="font-bold text-[#BA9256]">__</span>
                </h3>
                <div class="flex flex-wrap gap-[10px]">
                    <a href="#" class="px-[16px] py-[8px] border-[1px] border-[#BCBCBC] text-[#BCBCBC]">Các ngày lễ</a>
                    <a href="#" class="px-[16px] py-[8px] border-[1px] border-[#BCBCBC] text-[#BCBCBC]">Khách sạn</a>
                    <a href="#" class="px-[16px] py-[8px] border-[1px] border-[#BCBCBC] text-[#BCBCBC]">Thư giãn</a>
                    <a href="#" class="px-[16px] py-[8px] border-[1px] border-[#BCBCBC] text-[#BCBCBC]">Giá</a>
                    <a href="#" class="px-[16px] py-[8px] border-[1px] border-[#BCBCBC] text-[#BCBCBC]">Mẹo vặt</a>
                    <a href="#" class="px-[16px] py-[8px] border-[1px] border-[#BCBCBC] text-[#BCBCBC]">Resort</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}