<!-- templates/_base.html -->

{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">


    {% block statics %}
    {% endblock statics %}
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

</head>

<body>
    <div class="grid grid-cols-12">
        <div class="col-span-2 border-r-2 border-[#b5b5b5]">
            <ul>
                <a href="{% url 'admin-banner' %}"><li class="border-b-2 border-[#b5b5b5] p-2">Banner</li></a>
            </ul>
            <ul>
                <a href="{% url 'admin-about' %}"><li class="border-b-2 border-[#b5b5b5] p-2">Về chúng tôi</li></a>
            </ul>
        </div>
        <div class="col-span-10 p-10">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

</body>

{% block scripts %}
{% endblock scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>

</html>