<!-- templates/_base.html -->

{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">


    {% block statics %}
    {% endblock statics %}
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

</head>

<body>
    <header class="bg-[#000] bg-opacity-50 py-3 z-30 w-full fixed xs:hidden md:block">
        <div class="flex items-center justify-between  xl:w-[1200px] 2xl:w-[1440px] mx-auto">
            <svg xmlns="http://www.w3.org/2000/svg" width="154" height="48" viewBox="0 0 154 48" fill="none">
                <path
                    d="M23.7537 0C10.6346 0 0 10.741 0 23.9962C0 37.2513 10.6346 48 23.7537 48C36.8728 48 47.5074 37.2513 47.5074 23.9962C47.5074 10.741 36.8728 0 23.7537 0ZM32.4744 5.51658C35.5259 7.00432 38.1931 9.24171 40.1792 12.0173C33.8137 15.2965 34.2018 22.5353 34.2018 22.5353C38.4556 21.7319 41.2408 19.8251 43.0557 17.7645C43.3221 18.3373 43.8776 21.0975 43.9803 22.6968C37.4093 26.2297 32.9044 27.2177 30.9715 27.4945C32.8663 17.2878 32.5505 7.32725 32.4744 5.51658ZM18.5563 4.20567C19.4009 11.7405 25.6789 14.0586 25.6789 14.0586C26.8014 8.58818 24.956 5.37818 22.8519 3.54445C25.7931 3.4099 28.3538 3.90966 30.5149 4.69005C31.1237 9.80298 28.4831 17.9721 28.4831 17.9721C19.1042 15.827 14.7971 6.78135 14.3823 5.85488C15.695 5.15137 17.0876 4.60163 18.5563 4.20567ZM12.3924 40.9495C9.82413 39.185 7.67439 36.84 6.13342 34.099C15.0938 33.7222 18.5829 26.6718 18.5829 26.6718C11.0265 24.4229 6.68132 27.2677 4.37558 30.0163C3.91519 28.5132 3.62602 26.9332 3.5271 25.3071V25.3032C6.96288 25.0149 9.22296 23.2734 9.22296 23.2734C7.35097 21.4358 5.54367 20.4325 3.88095 19.9635C4.17012 18.5026 4.61529 17.1072 5.19362 15.777C9.6415 21.2475 15.9081 20.544 15.9081 20.544C14.3024 14.3585 10.7107 12.2018 7.682 11.5444C9.00228 9.81067 10.5851 8.29601 12.3772 7.06583C16.1288 19.8405 26.4247 23.8078 26.4247 23.8078C22.9547 33.3993 15.071 39.2004 12.3924 40.9495ZM41.3892 34.0798C35.6439 32.0038 31.1465 35.1254 31.1465 35.1254C33.0413 37.2744 34.9932 38.6852 36.8842 39.5887C35.2177 41.0226 31.6678 44.0135 24.6212 44.4632C27.003 41.1302 28.6734 36.9361 29.8529 32.5305C36.4429 31.5694 42.972 25.9721 44.0031 25.0649C43.8852 29.0975 42.1502 32.7343 41.3892 34.0798Z"
                    fill="#BA9256" />
                <path
                    d="M140.881 9.23041V9.98773C139.405 10.7797 138.092 12.6903 137.51 14.3664H137.468C136.327 17.4149 129.406 36.1136 128.397 38.6932H124.737L113.379 14.3664C112.599 12.6826 111.142 10.7758 109.59 9.98005V9.22656H120.407V10.0146C119.433 11.0603 120.076 12.9402 120.704 14.3664L128.028 30.0973C128.165 30.3972 128.393 30.5356 128.713 30.524C129.033 30.5048 129.261 30.3549 129.398 30.055L135.227 14.3664C135.775 12.8287 136.155 11.0219 135.075 9.98005V9.22656H140.881V9.23041Z"
                    fill="#BA9256" />
                <path
                    d="M151.469 14.3664V33.561C151.469 35.1872 151.941 37.0901 153.242 37.9358V38.6932H143.266V37.9435C144.586 37.0978 145.05 35.1679 145.05 33.5226V14.3664C145.042 12.7287 144.571 10.8219 143.266 9.98005V9.22656H153.242V9.98389C151.941 10.8335 151.469 12.7441 151.469 14.3664Z"
                    fill="#BA9256" />
                <path
                    d="M78.0766 30.2777C87.2044 26.4834 85.9032 10.0375 75.3751 9.26091C70.7751 9.21478 60.3155 9.21863 58.2305 9.23016V9.96442C58.2495 9.97595 58.2609 9.98749 58.2761 9.99902C59.9655 11.16 59.9541 13.2859 60.0416 15.1119C60.1291 16.9341 60.1063 32.9418 60.0872 33.6415C60.0454 35.1754 59.6192 37.1706 58.2761 37.9279C58.2571 37.9394 58.2419 37.9587 58.2305 37.9702V38.6929H69.1276V37.951C69.12 37.9394 69.1085 37.9318 69.1047 37.9279C66.2511 36.1288 67.579 29.6972 67.2936 26.8909C68.5454 28.5324 71.6578 31.9308 73.0161 33.5608V33.6031C74.0967 34.9755 75.7252 36.6747 74.8501 37.9702V38.6929H85.7281V37.9433C81.5618 35.8827 79.1419 32.2306 78.0766 30.2777ZM77.3993 21.4358C77.0987 23.8616 76.022 26.764 73.4156 27.5367C72.0839 27.9327 70.5582 27.679 69.4091 26.9063C67.6437 25.7145 67.3088 23.3849 67.3165 21.432C67.3165 21.432 67.3355 13.4166 67.3355 12.2057C67.3355 12.0173 67.3127 11.8251 67.3697 11.6444C67.7122 10.5641 69.3406 10.5872 70.2424 10.5949C71.8709 10.6103 73.3357 11.2484 74.5951 12.2441C75.729 13.1398 76.4747 14.4969 76.9123 15.8424C77.4906 17.63 77.6314 19.5713 77.3993 21.4358Z"
                    fill="#BA9256" />
                <path
                    d="M110.706 28.5865C110.546 28.106 104.253 10.872 103.834 9.71485C103.72 9.39193 103.496 9.23047 103.165 9.23047H97.3851V9.97626C97.6324 10.1608 97.8227 10.4222 97.952 10.7567C98.1347 11.2372 98.1423 11.7677 98.0357 12.279C97.1796 16.3271 91.6322 33.9686 89.958 36.2675C89.433 37.1593 88.6872 37.4784 88.0898 37.9397V38.6932H93.9607V37.9282C93.5422 37.6053 93.2911 37.0479 93.2264 36.2675C93.196 34.0455 94.6456 30.747 95.1174 29.0786C95.2316 28.748 95.456 28.5865 95.7871 28.5865H102.872C103.233 28.5865 103.461 28.748 103.576 29.0786L105.2 33.5226C105.703 35.0604 106.106 36.9248 104.968 37.9436V38.6971H115.854V37.9321C112.897 36.4328 111.847 31.4121 110.706 28.5865ZM102.225 26.0032C102.096 26.2415 101.837 26.3914 101.559 26.3914C101.559 26.3914 97.0731 26.3914 97.0693 26.3914C96.5671 26.3914 96.1942 25.8763 96.354 25.4111L99.1696 16.9345L102.267 25.3919C102.339 25.5918 102.324 25.8148 102.225 26.0032Z"
                    fill="#BA9256" />
            </svg>
            <div class="flex lg:gap-[40px] md:gap-[25px]  text-[white] font-medium xl:text-[14px] 2xl:text-[16px] md:text-[10px]">
                <a href="/#about">VỀ CHÚNG TÔI</a>
                <a href="/#activity">LĨNH VỰC HOẠT DỘNG</a>
                <a href="/#projects">DỰ ÁN</a>
                <a href="/#news">TIN TỨC</a>
                <a href="/#recruitment">TUYỂN DỤNG</a>
                <a href="/#contact">LIÊN HỆ</a>
            </div>
            <div class="flex items-center gap-[30px]">
                <a href="">
                    <svg class=" w-[20px] text-[white]" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" />
                    </svg>
                </a>
                <a href="">
                    <svg class=" w-[20px] text-[white]" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <path
                            d="M22 4.01c-1 .49-1.98.689-3 .99-1.121-1.265-2.783-1.335-4.38-.737S11.977 6.323 12 8v1c-3.245.083-6.135-1.395-8-4 0 0-4.182 7.433 4 11-1.872 1.247-3.739 2.088-6 2 3.308 1.803 6.913 2.423 10.034 1.517 3.58-1.04 6.522-3.723 7.651-7.742a13.84 13.84 0 0 0 .497 -3.753C20.18 7.773 21.692 5.25 22 4.009z" />
                    </svg>
                </a>
                <a href="">
                    <svg class="w-[20px] text-[white]" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <rect x="4" y="4" width="16" height="16" rx="4" />
                        <circle cx="12" cy="12" r="3" />
                        <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
                    </svg>
                </a>
                <a href="">
                    <svg class="w-[20px] text-[white]" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path
                            d="M22.54 6.42a2.78 2.78 0 0 0-1.94-2C18.88 4 12 4 12 4s-6.88 0-8.6.46a2.78 2.78 0 0 0-1.94 2A29 29 0 0 0 1 11.75a29 29 0 0 0 .46 5.33A2.78 2.78 0 0 0 3.4 19c1.72.46 8.6.46 8.6.46s6.88 0 8.6-.46a2.78 2.78 0 0 0 1.94-2 29 29 0 0 0 .46-5.25 29 29 0 0 0-.46-5.33z" />
                        <polygon points="9.75 15.02 15.5 11.75 9.75 8.48 9.75 15.02" />
                    </svg>
                </a>
            </div>
        </div>
    </header>

    <div class="mx-auto">
        {% block content %}
        {% endblock content %}
    </div>

    {% block scripts %}
    {% endblock scripts %}

    <footer>
        <div class="relative ">
            <img src="{% static 'images/Rectangle 336 (2).png'%}" alt="" srcset="" width="100%" height="769">
            <div class="flex justify-between items-center absolute top-0 left-0 right-0 bottom-0 px-[128px]">
                <p class="w-[827px] xl:text-[40px] 2xl:text-[80px]">Đăng ký nhận voucher trải nghiệm nghỉ dưỡng miễn phí cùng ravi</p>
                <div class="bg-white px-[32px] py-[64px]">
                    <div class="flex flex-col mb-[24px]">
                        <label for="" class="font-medium text-[#BCBCBC] ml-2">HỌ TÊN</label>
                        <input type="text" name="" id="" placeholder="Họ tên"
                            class="border-1 border-[#BCBCBC] rounded-full w-[448px] placeholder-[#BCBCBC]" />
                    </div>
                    <div class="flex flex-col mb-[24px]">
                        <label for="" class="font-medium text-[#BCBCBC] ml-2">SỐ ĐIỆN THOẠI</label>
                        <input type="text" name="" id="" placeholder="Số điện thoại của bạn"
                            class="border-1 border-[#BCBCBC] rounded-full w-[448px] placeholder-[#BCBCBC]" />
                    </div>
                    <div class="flex flex-col mb-[24px]">
                        <label for="" class="font-medium text-[#BCBCBC] ml-2">EMAIL</label>
                        <input type="text" name="" id="" placeholder="Địa chỉ email của bạn"
                            class="border-1 border-[#BCBCBC] rounded-full w-[448px] placeholder-[#BCBCBC]" />
                    </div>
                    <div class="flex">
                        <button type="button" class="mx-auto bg-[#BA9256] px-[32px] py-[16px] rounded-full font-bold text-white">ĐĂNG KÝ</button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
<script>
    console.log(window.innerWidth);
</script>
</html>