{% extends 'layout.html'%}

{% load static %}

{% block statics %}

{% endblock statics %}

{% block content %}
<!-- banner -->
<div class="relative">
    <img src="{% static 'images/Rectangle 1.png'%}" alt="" srcset="" width="100%" height="548">
    <div class="absolute top-0 right-0 left-0 bottom-0 text-center flex flex-col items-center justify-center">
        <h1 class="text-[48px] font-normal text-white uppercase">Nhân viên kinh doanh</h1>
        <p class="text-white">Home / Tuyển dụng / Nhân viên kinh doanh</p>
    </div>
    <div class="absolute bottom-0 left-0 right-0">
        <div class="bg-[#C4C4C4] bg-opacity-50 h-[20px] mx-[120px]"></div>
        <div class="bg-white h-[50px] mx-[88px]"></div>
    </div>
</div>

<!--  -->
<div class="py-[50px] px-[121px] grid grid-cols-12 gap-[50px]">
    <div class="col-span-9 pr-[100px]">

        Nội dung
    </div>
    <div class="col-span-3">

        <div class="flex flex-col gap-[32px] bg-[#F9F8F5] p-[50px]">
            <div>
                <p class="text-[#666666]">Số lượng</p>
                <b class="text-[#666666]">2</b>
            </div>
            <div>
                <p class="text-[#666666]">Khu vực</p>
                <b class="text-[#666666]">Hà Nội</b>
            </div>
            <div>
                <p class="text-[#666666]">Trình độ</p>
                <b class="text-[#666666]">Không yêu cầu</b>
            </div>
            <div>
                <p class="text-[#666666]">Hình thức</p>
                <b class="text-[#666666]">Toàn thời gian cố định</b>
            </div>
            <div>
                <p class="text-[#666666]">Ngày hết hạn</p>
                <b class="text-[#666666]">30/04/2022</b>
            </div>
            <button data-modal-target="defaultModal" data-modal-toggle="defaultModal"
                class="uppercase bg-[#BA9256] h-[50px] rounded-full text-white font-bold border-[1px] border-[#BA9256]">ứng
                tuyển ngày</button>
        </div>
    </div>
</div>

<!-- Main modal -->
<div id="defaultModal" tabindex="-1" aria-hidden="true"
    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-[1020px] max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 rounded-t dark:border-gray-600">
                <button type="button"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-hide="defaultModal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <div class="text-center mb-[36px]">
                <span class="uppercase text-[#BA9256] font-medium">vị trí nhân viên kinh doanh</span>
                <h2 class="text-[40px] text-[#181C23] uppercase">Thông Tin Ứng Tuyển</h2>
            </div>
            <!-- Modal body -->
            <div class="px-[50px]">

                <div class="grid grid-cols-2 gap-[24px] mb-[24px]">
                    <div class="col-span-1">
                        <p class="text-[#BCBCBC] pl-[5px]">HỌ TÊN *</p>
                        <input type="text" placeholder="Họ tên"
                            class="px-[16px] w-full rounded-full placeholder-[#BCBCBC] border-[1px] border-[#BCBCBC]"
                            required>
                    </div>
                    <div class="col-span-1">
                        <p class="text-[#BCBCBC] pl-[5px]">NGÀY SINH</p>
                        <input type="date" placeholder="Ngày sinh của bạn"
                            class="px-[16px] w-full rounded-full placeholder-[#BCBCBC] border-[1px] border-[#BCBCBC]">
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-[24px] mb-[24px]">
                    <div class="col-span-1">
                        <p class="text-[#BCBCBC] pl-[5px]">SỐ ĐIỆN THOẠI *</p>
                        <input type="text" placeholder="Số điện thoại của bạn"
                            class="px-[16px] w-full rounded-full placeholder-[#BCBCBC] border-[1px] border-[#BCBCBC]"
                            required>
                    </div>
                    <div class="col-span-1">
                        <p class="text-[#BCBCBC] pl-[5px]">EMAIL *</p>
                        <input type="text" placeholder="Địa chỉ email của bạn"
                            class="px-[16px] w-full rounded-full placeholder-[#BCBCBC] border-[1px] border-[#BCBCBC]"
                            required>
                    </div>
                </div>
                <div class="mb-[24px]">
                    <p class="text-[#BCBCBC] pl-[5px]">ĐỊA ĐIỂM *</p>
                    <select name="" id=""
                        class="px-[16px] w-full rounded-full placeholder-[#BCBCBC] border-[1px] border-[#BCBCBC] text-[#666666]"
                        required>
                        <option value="" class="text-[#666666]">Chọn địa điểm</option>
                    </select>
                </div>
                <div class="mb-[24px]">
                    <p class="text-[#BCBCBC] pl-[5px]">RESUME/CV *</p>
                    <div class="flex items-center justify-center w-full">
                        <label for="dropzone-file"
                            class="flex items-center justify-end pr-[15px] w-full border-[1px] border-[#BCBCBC] rounded-full cursor-pointer">
                            <div class="flex items-center justify-end py-[8px]">
                                <svg class="h-5 w-5 text-[#666666]" width="24" height="24" viewBox="0 0 24 24"
                                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                    stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" />
                                    <path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5" />
                                    <path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5" />
                                    <line x1="16" y1="21" x2="16" y2="19" />
                                    <line x1="19" y1="16" x2="21" y2="16" />
                                    <line x1="3" y1="8" x2="5" y2="8" />
                                    <line x1="8" y1="3" x2="8" y2="5" />
                                </svg>
                              
                            </div>
                            <input id="dropzone-file" type="file" class="hidden" />
                        </label>
                    </div>
                </div>
                <div class="mb-[24px]">
                    <p class="text-[#BCBCBC] pl-[5px]">THƯ ỨNG TUYỂN</p>
                    <textarea name="" id=""
                        class="w-full border-[1px] border-[#BCBCBC] rounded p-[16px] placeholder-[#BCBCBC]"
                        placeholder="Tin nhắn của bạn"></textarea>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center justify-center pb-[64px]">
                <button data-modal-hide="defaultModal" type="button"
                    class="text-white bg-[#BA9256] font-medium rounded-full text-sm px-5 py-2.5 text-center ">NỘP HỒ
                    SƠ</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}