{% extends 'layout.html' %}

{% load static %}

{% block statics %}

{% endblock %}

{% block content %}
  <!-- banner -->
  <div class="relative">
    <img src="{% static 'images/Rectangle 1.png' %}" alt="" srcset="" width="100%" height="548" />
    <div class="absolute top-0 right-0 left-0 bottom-0 text-center flex flex-col items-center justify-center">
      <h1 class="text-[48px] font-normal text-white uppercase">tuyển dụng</h1>
      <p class="text-white">Home/Tuyển dụng</p>
    </div>
    <div class="absolute bottom-0 left-0 right-0">
      <div class="bg-[#C4C4C4] bg-opacity-50 h-[20px] mx-[120px]"></div>
      <div class="bg-white h-[50px] mx-[88px]"></div>
    </div>
  </div>

  <div class="py-[50px] px-[121px]">
    <div class="text-center mb-[50px]">
      <h2 class="text-[40px] text-[#181C23] pb-[25px] uppercase">Các vị trí tuyển dụng hot</h2>
      <p class="text-[#666666] px-[250px]">Ravi định hướng phát triển trở thành đơn vị đi tiên phong trong lĩnh vực bất động sản và phát triển hệ thống thẻ nghỉ dưỡng với mục tiêu phát triển các dự án nghỉ dưỡng theo hướng đi mới, phát triển du lịch tiêu chuẩn 5 sao kết hợp với việc bảo tồn tự nhiên. Và chúng tôi đang tìm kiếm nhân tài gia nhập RAVI</p>
    </div>

    <div>
      <div class="grid grid-cols-12 py-[32px] pr-[24px] border-t-[1px] border-[##F5F5F5]">
        <div class="col-span-5">
          <span class="text-[#BA9256] font-medium">FULLTIME</span>
          <h3 class="text-[32px] text-[#181C23] pr-[150px]">Nhân viên đại diện kinh doanh</h3>
        </div>
        <div class="flex items-center justify-between col-span-7">
          <div class="flex gap-[50px]">
            <div>
              <p class="text-[#666666] pb-[16px]">Mức lương:</p>
              <b class="text-[#666666]">15~20tr</b>
            </div>
            <div>
              <p class="text-[#666666] pb-[16px]">Số lượng:</p>
              <b class="text-[#666666]">2</b>
            </div>
            <div>
              <p class="text-[#666666] pb-[16px]">Khu vực:</p>
              <b class="text-[#666666]">Hà Nội</b>
            </div>
            <div>
              <p class="text-[#666666] pb-[16px]">Ngày hết hạn:</p>
              <b class="text-[#666666]">30/04/2022</b>
            </div>
          </div>
          <a href="{% url 'recruitment-detail' 1 %}" class="border-[2px] border-[#BA9256] rounded-full px-[32px] h-[50px] flex items-center justify-center font-bold text-[#666666]">ỨNG TUYỂN NGAY</a>
        </div>
      </div>
      <div class="grid grid-cols-12 py-[32px] pr-[24px] border-t-[1px] border-[##F5F5F5]">
        <div class="col-span-5">
          <span class="text-[#BA9256] font-medium">FULLTIME</span>
          <h3 class="text-[32px] text-[#181C23] pr-[150px]">Nhân viên đại diện kinh doanh</h3>
        </div>
        <div class="flex items-center justify-between col-span-7">
          <div class="flex gap-[50px]">
            <div>
              <p class="text-[#666666] pb-[16px]">Mức lương:</p>
              <b class="text-[#666666]">15~20tr</b>
            </div>
            <div>
              <p class="text-[#666666] pb-[16px]">Số lượng:</p>
              <b class="text-[#666666]">2</b>
            </div>
            <div>
              <p class="text-[#666666] pb-[16px]">Khu vực:</p>
              <b class="text-[#666666]">Hà Nội</b>
            </div>
            <div>
              <p class="text-[#666666] pb-[16px]">Ngày hết hạn:</p>
              <b class="text-[#666666]">30/04/2022</b>
            </div>
          </div>
          <a href="{% url 'recruitment-detail' 1 %}" class="border-[2px] border-[#BA9256] rounded-full px-[32px] h-[50px] flex items-center justify-center font-bold text-[#666666]">ỨNG TUYỂN NGAY</a>
        </div>
      </div>
      <div class="grid grid-cols-12 py-[32px] pr-[24px] border-t-[1px] border-[##F5F5F5]">
        <div class="col-span-5">
          <span class="text-[#BA9256] font-medium">FULLTIME</span>
          <h3 class="text-[32px] text-[#181C23] pr-[150px]">Nhân viên đại diện kinh doanh</h3>
        </div>
        <div class="flex items-center justify-between col-span-7">
          <div class="flex gap-[50px]">
            <div>
              <p class="text-[#666666] pb-[16px]">Mức lương:</p>
              <b class="text-[#666666]">15~20tr</b>
            </div>
            <div>
              <p class="text-[#666666] pb-[16px]">Số lượng:</p>
              <b class="text-[#666666]">2</b>
            </div>
            <div>
              <p class="text-[#666666] pb-[16px]">Khu vực:</p>
              <b class="text-[#666666]">Hà Nội</b>
            </div>
            <div>
              <p class="text-[#666666] pb-[16px]">Ngày hết hạn:</p>
              <b class="text-[#666666]">30/04/2022</b>
            </div>
          </div>
          <a href="{% url 'recruitment-detail' 1 %}" class="border-[2px] border-[#BA9256] rounded-full px-[32px] h-[50px] flex items-center justify-center font-bold text-[#666666]">ỨNG TUYỂN NGAY</a>
        </div>
      </div>
      <div class="grid grid-cols-12 py-[32px] pr-[24px] border-t-[1px] border-[##F5F5F5]">
        <div class="col-span-5">
          <span class="text-[#BA9256] font-medium">FULLTIME</span>
          <h3 class="text-[32px] text-[#181C23] pr-[150px]">Nhân viên đại diện kinh doanh</h3>
        </div>
        <div class="flex items-center justify-between col-span-7">
          <div class="flex gap-[50px]">
            <div>
              <p class="text-[#666666] pb-[16px]">Mức lương:</p>
              <b class="text-[#666666]">15~20tr</b>
            </div>
            <div>
              <p class="text-[#666666] pb-[16px]">Số lượng:</p>
              <b class="text-[#666666]">2</b>
            </div>
            <div>
              <p class="text-[#666666] pb-[16px]">Khu vực:</p>
              <b class="text-[#666666]">Hà Nội</b>
            </div>
            <div>
              <p class="text-[#666666] pb-[16px]">Ngày hết hạn:</p>
              <b class="text-[#666666]">30/04/2022</b>
            </div>
          </div>
          <a href="{% url 'recruitment-detail' 1 %}" class="border-[2px] border-[#BA9256] rounded-full px-[32px] h-[50px] flex items-center justify-center font-bold text-[#666666]">ỨNG TUYỂN NGAY</a>
        </div>
      </div>
      <button class="bg-[#BA9256] text-white font-bold py-[15px] w-full">XEM THÊM 12 VỊ TRÍ</button>
    </div>
  </div>
{% endblock %}
