.slides-container {
	-ms-overflow-style: none;
	/* Internet Explorer 10+ */
	scrollbar-width: none;
	/* Firefox */
}

.slides-container::-webkit-scrollbar {
	display: none;
	/* Safari and Chrome */
}

.desc-slides {

	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.wrapper-td {

	cursor: pointer;
	transition: ease 0.3s;
}

.wrapper-td:hover {

	transition: ease 0.3s;
	box-shadow: 0px 0px 64px 0px #00000014;
}

.wrapper-td:hover .apply-now {

	display: flex;
}

.zoom-wrapper {
	cursor: pointer;
}

.zoom-wrapper img {
	transition: transform 0.5s;

}

.zoom-wrapper:hover img {
	transition: transform 0.5s;
	transform: scale(1.5);
}

.wrapper-activity {

	transition: ease 0.3s;
}

.wrapper-activity:hover {

	transition: ease 0.3s;
	background-color: #BA9256;
}

.wrapper-activity:hover .see-more-activity{

	transition: ease 0.3s;
	color: white;

}
