{% extends 'layout.html' %}

{% load static %}

{% block statics %}

<link rel="stylesheet" href="{% static 'src/css/project-detail.css' %}">

{% endblock statics %}

{% block content %}

<!-- banner -->
<div class="relative">
    <img src="{% static 'images/Rectangle 1.png'%}" alt="" srcset="" width="100%" height="548">
    <div class="absolute top-0 right-0 left-0 bottom-0 text-center flex flex-col items-center justify-center">
        <h1 class="text-[48px] font-normal text-white">{{projectDetail.title}}</h1>
        <p class="text-white">Home / {{projectDetail.title}}</p>
    </div>
    <div class="absolute bottom-0 left-0 right-0">
        <div class="bg-[#C4C4C4] bg-opacity-50 h-[20px] mx-[120px]"></div>
        <div class="bg-white h-[50px] mx-[88px]"></div>
    </div>
</div>

<!--  -->
<div class="py-[50px] px-[121px]">
    {{ projectDetail.content|safe }}
</div>
<div class="bg-[#F9F8F5]">
    <div class="px-[121px] py-[150px]">
        <div class="text-center mb-[50px]">
            <span class="font-medium text-[#BA9256]">CÓ THỂ BẠN QUAN TÂM</span>
            <h2 class="text-[40px] text-[#181C23]">CÁC DỰ ÁN LIÊN QUAN</h2>
        </div>
        <div class="grid grid-cols-3 gap-[32px]">
            {% for relatedProjects in relatedProjects %}
            <a href="{% url 'project-detail' relatedProjects.id %}">
                <div class="col-span-1 relative">
                    <img src="{% static 'images/Rectangle 12.png' %}" alt="" width="100%" class="h-[546px]">
                    <div class="desc-project absolute bottom-0 left-0 right-0 pt-[64px] px-[24px] pb-[32px]">
                        <h3 class="text-[32px] text-white">{{relatedProjects.title}}</h3>
                        <span class="text-[#BA9256] uppercase font-medium">{{relatedProjects.area}}</span>
                    </div>
                </div>
            </a>
            {% endfor%}
        </div>
    </div>

</div>
{% endblock content%}