{% extends "layout.html" %}

{% load static %}
{% block statics %}
<link rel="stylesheet" href="{% static 'src/css/projects.css' %}">

{% endblock statics %}
{% block content %}

<!-- banner -->
<div class="relative">
    <img src="{% static 'images/Rectangle 1.png'%}" alt="" srcset="" width="100%" height="548">
    <div class="absolute top-0 right-0 left-0 bottom-0 text-center flex flex-col items-center justify-center">
        <h1 class="text-[48px] font-normal text-white">DỰ ÁN</h1>
        <p class="text-white">Home / Dự Án</p>
    </div>
    <div class="absolute bottom-0 left-0 right-0">
        <div class="bg-[#C4C4C4] bg-opacity-50 h-[20px] mx-[120px]"></div>
        <div class="bg-white h-[50px] mx-[88px]"></div>
    </div>
</div>

<!-- Item Projects -->
<div class="py-[50px] px-[121px]">
    <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-[32px]">
        {% for itemProjects in itemProjects %}
        <div class="col-span-1 relative overflow-hidden	">
            <img src="{% static 'images/Rectangle 12.png'%}" alt="" srcset="" width="100%" height="100%">
            <div class="pt-[64px] pb-[32px] px-[24px] absolute bottom-0 left-0 right-0 desc-project cursor-pointer	">
                <h3 class="2xl:text-[32px] xl:text-[23px] lg:text-[18px] md:text-[32px] text-white line-clamp-1" title="{{itemProjects.title}}">{{itemProjects.title}}</h3>
                <span class="2xl:text-[16px] xl:text-[14px] lg:text-[12px] md:text-[16px] text-[#BA9256] font-medium">{{itemProjects.area}}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    console.log("aaa", window.innerWidth);
</script>
{% endblock content %}